/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #e9fdf9;
    color: #303030;
}

/* Navigation */
nav {
    background-color: #00a878;
    display: flex;
    justify-content: center;
    padding: 15px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a.active {
    font-weight: bold;
}

/* Main */
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Goals list */
#goals {
    list-style: none;
    padding: 0;
}

/* Quote carousel */
#quote-carousel {
    background-color: #d5f5e7;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px;
}

#quote-author {
    font-style: italic;
    margin-top: 10px;
}

/* Calendar */
#calendar {
    margin-top: 20px;
}

#calendar-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

#calendar table {
    width: 100%;
    border-collapse: collapse;
}

#calendar th,
#calendar td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

#calendar .today {
    background-color: #d5f5e7;
}



/* FAQ */
.faq-item {
    margin-bottom: 20px;
}

.faq-question {
    cursor: pointer;
}

.faq-answer {
    display: none;
}

.goal-date {
  background-color: #a6d785;
}
