body {
    font-family: Arial, sans-serif;
}

#faqAccordion .accordion-item {
    border-bottom: 1px solid #4CAF50;
}

#faqAccordion .accordion-button {
    background-color: #4CAF50;
    color: #fff;
}

#faqAccordion .accordion-button:not(.collapsed) {
    background-color: #8bc34a;
    color: #fff;
}

#faqAccordion .accordion-collapse {
    background-color: #f8f9fa;
}

#faqAccordion .accordion-body {
    padding: 1rem;
}
