body {
  font-family: Arial, sans-serif;
}

.list-group-item {
  margin-bottom: 10px;
  background-color: #8bc34a;
  border-color: #4CAF50;
}

.carousel-inner {
  background-color: #f8f9fa;
  border-radius: 20px;
  padding: 1.5rem;
}

.blockquote {
  font-size: 1.2rem;
}

.quote-text {
  padding-bottom: 20rem;
}
